version: "3.9"  # optional since v1.27.0
services:
  server:
    container_name: test-vm-server
    image: ya-vm-file-server
    command: sh docker_server_start.sh
    environment:
      RUST_LOG: "error"

  client:
    container_name: test-vm-client
    image: ya-vm-file-server
    command: sh docker_client_start.sh
    cap_add:
      - SYS_ADMIN
    # Allows calling mount under linux
    privileged: true
        
